<app-userheader></app-userheader>
<h3>Ordering  product</h3>
<form (ngSubmit)='order()'>
     <!-- row#5 -->
     <div class="row">
        <div class="col-2">
            <label>PHOTO</label>
        </div>
        <div class="col-4">
            
            <img src="{{product.photo}}" style="width:200px;height:200px;">
    </div>
    </div>
    <!-- row#0 -->
    <div class="row">
        <div class="col-2">
            <label>NAME</label>
        </div>
        <div class="col-4">
            <input type="text" [(ngModel)]="product.name" name="name" class="form-control" readonly/>
        </div>
    </div>
    <!-- row#1 -->
    <div class="row">
        <div class="col-2">
            <label>PRICE</label>
        </div>
        <div class="col-4">
            <input type="text" [(ngModel)]="product.price" name="price" class="form-control" readonly/>
        </div>
    </div>

    

    <!-- row#5 -->
    <div class="row">
        <div class="col-2">
            <label>QUANTITY</label>
        </div>
        <div class="col-4">
            <input type="text" [(ngModel)]="product.quantity" name="quantity" class="form-control" />
        </div>
    </div>
   
    
    <input type="submit" value="BUY PRODUCT" class="btn btn-success"/>
</form>